@model IndiePal.Models.Talent

@{
    ViewData["Title"] = "Details";
}

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                @Model.ApplicationUser.UserName's Talent Detail
            </h1>
            <h2 class="subtitle">
            </h2>
        </div>
    </div>
</section>

<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <h4>Biography</h4>
                <p>
                    @Model.Biography
                </p>

                <p>Preferred Wage: @Model.Wage</p>

                <hr>
                <h4>Skills:</h4>
                <div class="tags are-medium">
                    @foreach (TalentSkill skill in Model.Skills)
                    {
                        <span class="tag is-primary">@skill.Skill</span>
                    }
                </div>
            </div>
            <nav class="level is-mobile">
                <div class="level-left">
                    @if (ViewBag.IsUserDirector && ViewBag.ArePositionsAvailable)
                    {
                        <a class="button is-link" asp-controller="Messages" asp-action="SendHireMessage" asp-route-id="@Model.Id">Send Hire Invite</a>
                    }

                    @if (ViewBag.IsUserCurrentTalent)
                    {

                        <a class="button is-link" style="margin-left:28px" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                        @if (Model.Active == true)
                        {
                            <a class="button is-warning" id="openCloseModal" data-target="#closemodal">Close Talent</a>
                        }
                        else
                        {
                            <a class="button is-primary" id="openOpenModal" data-target="#openmodal">Reopen Talent</a>
                        }
                    }
                </div>
            </nav>
        </div>
    </article>
</div>

<div id="closemodal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Warning</strong>
                            <br>
                            Do you wish to close your talent account? You can reopen it to be listed later.
                        </p>
                    </div>
                    <div style="display:flex; flex-direction:row">
                        <form asp-action="Close" asp-route-id="@Model.Id">
                            <button style="margin-right:28px" class="button is-primary">Accept</button>
                        </form>
                        <button class="button is-warning" id="closeCloseModal">Close</button>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

<div id="openmodal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Warning</strong>
                            <br>
                            Open your account? It will be put back on the list.
                        </p>
                    </div>
                    <div style="display:flex; flex-direction:row">
                        <form asp-action="Reopen" asp-route-id="@Model.Id">
                            <button class="button is-primary" style="margin-right:28px">Accept</button>
                        </form>
                        <button class="button is-warning" id="closeOpenModal">Close</button>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $("#openCloseModal").click(function () {
        var target = $(this).data("target");
        $("html").addClass("is-clipped");
        $(target).addClass("is-active");
    });

    $("#closeCloseModal").click(function () {
        $("html").removeClass("is-clipped");
        $("#closemodal").removeClass("is-active");
    });

    $("#openOpenModal").click(function () {
        var target = $(this).data("target");
        $("html").addClass("is-clipped");
        $(target).addClass("is-active");
    });

    $("#closeOpenModal").click(function () {
        $("html").removeClass("is-clipped");
        $("#openmodal").removeClass("is-active");
    });
</script>