@model IndiePal.Models.Talent

@{
    ViewData["Title"] = "Details";
}

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                @Model.ApplicationUser.UserName's Talent Detail
            </h1>
            <h2 class="subtitle"> 
            </h2>
        </div>
    </div>
</section>

<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <h4>Biography</h4>
                <p>
                    @Model.Biography
                </p>

                <p>Preferred Wage: @Model.Wage</p>

                <hr>
                <h4>Skills:</h4>
                <div class="tags are-medium">
                    @foreach (TalentSkill skill in Model.Skills)
                    {
                        <span class="tag is-primary">@skill.Skill</span>
                    }
                </div>
            </div>
            <nav class="level is-mobile">
                <div class="level-left">
                    @if (ViewBag.IsUserDirector && ViewBag.ArePositionsAvailable)
                    {
                        <a class="button is-link" asp-controller="Messages" asp-action="SendHireMessage" asp-route-id="@Model.Id">Send Hire Invite</a>
                    }

                    @if (ViewBag.IsUserCurrentTalent)
                    {
                        <a class="button is-link" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                        @if (Model.Active == true)
                        {
                            <a class="button is-warning" asp-action="Close" asp-route-id="@Model.Id">Close Talent</a>
                        }
                        else
                        {
                            <a class="button is-primary" asp-action="Open" asp-route-id="@Model.Id">Reopen Talent</a>
                        }
                    }
                </div>
            </nav>
        </div>
    </article>
</div>