@model IndiePal.Models.ViewModels.ListOfPositionsAndProjects
@{
    ViewData["Title"] = "SendHireMessage";
}

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Message to Hire
            </h1>
            <h2 class="subtitle">
                One step closer to filling a role.
            </h2>
        </div>
    </div>
</section>

<div class="content row">
    <div class="col-md-9">
        <form asp-action="SendHireMessage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SenderId" />
            <input type="hidden" asp-for="RecieverId" />

            <div class="form-group">
                <label class="control-label">Position</label>
                <select asp-for="ProjectId" class="form-control" asp-items="@Model.SelectProjects"></select>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>

            <div class="form-group selectDiv">
                <label class="control-label">Position</label>
                <select id ="@Model.SelectProjects.First().Value" class="form-control selectForm" name="ProjectPositionId">
                    @foreach (ProjectPosition position in Model.SeperatePositions[Model.SelectProjects.First().Value])
                    {
                        <option class="option" value="@position.Id">@position.Postion</option>
                    }
                </select>
                <span class="text-danger field-validation-valid" data-valmsg-for="ProjectId" data-valmsg-replace="true"></span>
            </div>

            @for (int i = 1; i < Model.SelectProjects.Count; i++)
            {

                <div class="form-group selectDiv d-none">
                    <label class="control-label">Position</label>
                    <select id="@Model.SelectProjects[i].Value" class="form-control selectForm" name="ProjectPositionId">
                        @foreach (ProjectPosition position in Model.SeperatePositions[Model.SelectProjects[i].Value])
                        {
                            <option class="option" value="@position.Id">@position.Postion</option>
                        }
                    </select>
                    <span class="text-danger field-validation-valid" data-valmsg-for="ProjectId" data-valmsg-replace="true"></span>
                </div>
            }

            <div class="form-group">
                <label>Header</label>
                <input asp-for="Header" class="form-control" />
                <span asp-validation-for="Header" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Message</label>
                <textarea asp-for="Body" class="form-control" rows="12" cols="160"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="button is-primary" />
            </div>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>

    $(document).ready(function () {

        $("#ProjectId").change(function (e) {
            var value = $("#ProjectId").val();
            var idString = "#" + value;
            $(".selectForm").removeAttr("name");
            $(idString).attr("name", "ProjectPositionId");
            $(".selectDiv").removeClass("d-none");
            $(".selectDiv").addClass("d-none");
            $(idString).parent().removeClass("d-none");
        });
    });
</script>