@model IndiePal.Models.ViewModels.ProjectListAndDirectorViewModel
@{
    ViewData["Title"] = "AllProjects";
}

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Projects
            </h1>
            <h2 class="subtitle">
                Browse other's projects, or create your own!
            </h2>
        </div>
    </div>
</section>

@if (Model.Director == null)
{
    <a asp-action="DirectorAgreement">Create New Director Account</a>
}

else if (Model.AllProjects.Count < 2)
{
    <a asp-action="CreateProject">Create a new project!</a>
}

<article class="media">
    <div class="flex-lg-wrap">
        <figure class="media-left">
            <button class="button is-link" id="AllProjectsButton">All Projects</button>
        </figure>
        <figure class="media-left">
            <button class="button is-link" id="YourProjectsButton">Your Projects</button>
        </figure>
    </div>
    <div class="media-content">
        <div class="content">

            <div id="All Projects">

                <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                    <a class="pagination-previous">Previous</a>
                    <a class="pagination-next">Next page</a>
                    <ul class="pagination-list">
                        @if (ViewBag.index > 3)
                        {
                            <a class="pagination-link" aria-label="Goto page 1">1</a>
                            <span class="pagination-ellipsis">&hellip;</span>
                        }
                        @if (ViewBag.index - 1 > 0)
                        {
                            <a class="pagination-link" aria-label="Goto page @(ViewBag.Index - 1)"> @(ViewBag.Index - 1)</a>
                        }
                            <a class="pagination-link is-current" aria-label="Page @ViewBag.index" aria-current="page">@ViewBag.index</a>
                        @if (ViewBag.index + 1 <= Math.Floor(Convert.ToDouble(Model.AllProjects.Count / 5)))
                        {
                            <a class="pagination-link" aria-label="Goto page "> @(ViewBag.Index + 1)</a>
                        }
                        @if (ViewBag.index < Math.Floor(Convert.ToDouble(Model.AllProjects.Count / 5)) - 3)
                        {
                            <span class="pagination-ellipsis">&hellip;</span>
                            <a class="pagination-link" aria-label="Goto page @Math.Floor(Convert.ToDouble(Model.AllProjects.Count/5))">@Math.Floor(Convert.ToDouble(Model.AllProjects.Count / 5))</a>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</article>