@model IndiePal.Models.ViewModels.ProjectListAndDirectorViewModel
@{
    ViewData["Title"] = "AllProjects";
}

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Projects
            </h1>
            <h2 class="subtitle">
                Browse other's projects, or create your own!
            </h2>
        </div>
    </div>
</section>

<br />

@if (Model.Director == null)
{
    <div style="margin-bottom:22px;">
        <a class="button is-link" asp-action="DirectorAgreement">Create New Director Account</a>
    </div>
}

else if (ViewBag.count < 2)
{
    <div style="margin-bottom:22px;">
    <a class="button is-link" asp-action="CreateProject">Create a new project!</a>
        </div>
}

<article class="media">
    <div class="flex-lg-wrap">
        <figure class="media-left">
            <a class="button is-link" asp-action="AllProjects" asp-route-index="1" asp-route-viewingyours="false">All Projects</a>
        </figure>
        @if (Model.Director != null)
        {
            <br>
            <figure class="media-left">
                <a class="button is-link" asp-action="AllProjects" asp-route-index="1" asp-route-viewingyours="true">Your Projects</a>
            </figure>
        }
    </div>
    <div class="media-content">
        <div class="content">

            <div id="projects">

                @foreach (Project project in Model.AllProjects)
                {
                    ViewBag.positionsavailable = false;

                    <div class="media">
                        <div class="media-content">
                            <div class="content">
                                <h4>@project.Title</h4> <span>Led by @project.Director.ApplicationUser.UserName</span>

                                @if (project.Active)
                                {
                                    <p>Current Status: <span id="statusText" class="has-text-success">Active</span></p>
                                }

                                @if (!project.Active && project.EndDate == null)
                                {
                                    <p>Current Status: <span id="statusText" class="has-text-warning">On Hiatus</span></p>
                                }

                                @if (!project.Active && project.EndDate != null)
                                {
                                    <p>Current Status: <span id="statusText" class="has-text-danger">Closed</span></p>
                                }

                                <p>Started at: @project.StartDate</p>

                                @if (project.EndDate != null)
                                {
                                    <p>Ended at: @project.EndDate</p>
                                }

                                else
                                {
                                    <h5>Positions open:</h5>

                                    @foreach (ProjectPosition position in project.CurrentPositions)
                                    {
                                        if (position.TalentId == null)
                                        {
                                            ViewBag.positionsavailable = true;
                                            <span class="tag is-primary is-medium">@position.Postion</span>
                                        }
                                    }

                                    @if (ViewBag.positionsavailable == false)
                                    {
                                        <p>None so far.</p>
                                    }
                                }
                            </div>
                        </div>
                        <div class="flex-lg-wrap">
                            <figure class="media-right">
                                <a class="button is-link" asp-action="Details" asp-route-id="@project.Id">Details</a>
                            </figure>
                            <figure>
                                @if (ViewBag.DirectorId == project.DirectorId && project.EndDate == null)
                                {
                                    <a class="button is-link" asp-action="EditProject" asp-route-id="@project.Id">Edit</a>
                                }
                            </figure>
                        </div>
                    </div>
                }

                <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                    @if (ViewBag.index != 1)
                    {
                        <a class="pagination-previous" asp-action="AllProjects" asp-route-index="@(ViewBag.index-1)" asp-route-viewingyours="@ViewBag.viewingyours">Previous</a>
                    }
                    @if (ViewBag.index != Math.Floor(Convert.ToDouble(Model.AllProjects.Count / 5)+1))
                    {
                        <a class="pagination-next" asp-action="AllProjects" asp-route-index="@(ViewBag.index + 1)" asp-route-viewingyours="@ViewBag.viewingyours">>Next page</a>
                    }

                    <div class="pagination-list">
                        @if (ViewBag.index > 3)
                        {
                            <a class="pagination-link" aria-label="Goto page 1" asp-action="AllProjects" asp-route-index="1" asp-route-viewingyours="@ViewBag.viewingyours">1</a>
                            <span class="pagination-ellipsis">&hellip;</span>
                        }
                        @if (ViewBag.index - 1 > 0)
                        {
                            <a class="pagination-link" aria-label="Goto page @(ViewBag.Index - 1)" asp-action="AllProjects" asp-route-index="@(ViewBag.index - 1)" asp-route-viewingyours="@ViewBag.viewingyours"> @(ViewBag.Index - 1)</a>
                        }
                        <a class="pagination-link is-current" aria-label="Page @ViewBag.index" aria-current="page" asp-action="AllProjects" asp-route-index="@(ViewBag.index)" asp-route-viewingyours="@ViewBag.viewingyours">@ViewBag.index</a>
                        @if (ViewBag.index + 1 <= Math.Floor(Convert.ToDouble(Model.AllProjects.Count / 5)))
                        {
                            <a class="pagination-link" aria-label="Goto page @(ViewBag.index + 1)" asp-action="AllProjects" asp-route-index="@(ViewBag.index + 1)" asp-route-viewingyours="@ViewBag.viewingyours"> @(ViewBag.index + 1)</a>
                        }
                        @if (ViewBag.index < Math.Floor(Convert.ToDouble(Model.AllProjects.Count / 5)) - 3)
                        {
                            <span class="pagination-ellipsis">&hellip;</span>
                            <a class="pagination-link" aria-label="Goto page @Math.Floor(Convert.ToDouble(Model.AllProjects.Count / 5))" asp-action="AllProjects" asp-route-index="@Math.Floor(Convert.ToDouble(Model.AllProjects.Count / 5))" asp-route-viewingyours="@ViewBag.viewingyours"> @Math.Floor(Convert.ToDouble(Model.AllProjects.Count / 5))</a>
                        }
                    </div>
                </nav>
            </div>
        </div>
    </div>
</article>