@model IndiePal.Models.Project

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                @Model.Title
            </h1>
            <h2 class="subtitle">
                Director: @Model.Director.ApplicationUser.UserName
            </h2>
        </div>
    </div>
</section>

<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="content">

                <h5>Date Created: @Model.StartDate</h5>

                @if (Model.EndDate != null)
                {
                    <h5>Date Created: @Model.EndDate</h5>
                }

                <h4>Description</h4>
                <p>
                    @Model.Description
                </p>

                <p>Budget: @Model.Budget</p>

                <h4>Project Logs:</h4>
                <div class="box">

                    @if (Model.ProjectLogs.Count == 0)
                    {
                        <p>None so far!</p>
                    }

                    @foreach (ProjectLog log in Model.ProjectLogs)
                    {
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>Log created: @log.DateMade</p>

                                    <p>@log.Log</p>
                                </div>
                            </div>
                            <div class="flex-lg-wrap">
                                <figure class="media-left">
                                    <a class="button is-link" asp-controller="ProjectLogs" asp-action="EditLog" asp-route-id="@log.Id">Edit</a>
                                </figure>
                                <figure class="media-left">
                                    <a class="button is-warning openDeleteLog" data-target="#deleteModal-@log.Id">Delete</a>
                                </figure>
                            </div>
                        </article>

                        <div id="deleteModal-@log.Id" class="modal">
                            <div class="modal-background"></div>
                            <div class="modal-content">
                                <div class="box">
                                    <article class="media">
                                        <div class="media-content">
                                            <div class="content">
                                                <p class="is-warning">
                                                    <strong>Are you sure? Once you delete the log, it's gone for good.</strong>
                                                </p>
                                            </div>

                                            <form asp-controller="ProjectLogs" asp-action="Delete" asp-route-id="@log.Id">
                                                <button type="submit" class="button is-danger">Yes</button>
                                            </form>

                                            <span><button class="button is-light closeDeleteLog" data-target="#deleteModal-@log.Id">No</button></span>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    }

                </div>

                @if (ViewBag.currentDirector == Model.Director.Id)
                {
                    <a class="button is-link" asp-controller="ProjectLogs" asp-action="CreateLog" asp-route-id="@Model.Id">New Project Log</a>
                }

                <hr>
                <h4>Open Positions:</h4>
                <div>
                    @foreach (ProjectPosition position in Model.CurrentPositions)
                    {
                        if (position.TalentId == null)
                        {
                            <p class"is-medium">@position.Postion</p>
                        }
                    }
                </div>

                <h4>Filled Positions:</h4>
                <div>
                    @foreach (ProjectPosition position in Model.CurrentPositions)
                    {
                        if (position.TalentId != null)
                        {
                            <p class"is-medium">@position.Postion</p>
                        }
                    }
                </div>
            </div>
        </div>
    </article>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
       $(".openDeleteLog").click(function () {
        var target = $(this).data("target");
        $("html").addClass("is-clipped");
        $(target).addClass("is-active");
    });

    $(".closeDeleteLog").click(function () {
        var target = $(this).data("target");
        $("html").removeClass("is-clipped");
        $(target).removeClass("is-active");
    });
</script>